.DS_Store
.php-cs-fixer.cache
.php-cs-fixer.php
loconfig.*.json
!loconfig.example.json
Thumbs.db
vite.config.local.ts
/.env
/.idea/
/.vscode/
/config/license*
/node_modules/
/vendor/
/web/dist/
/web/uploads/

# [BOILERPLATE-ONLY]
/config/htmlpurifier/
/config/project/
# [/BOILERPLATE-ONLY]
