.DS_Store
loconfig.*.json
!loconfig.example.json
Thumbs.db
vite.config.local.ts
/.env
/.idea
/node_modules
/vendor
/web/dist/
/web/uploads/

# [BOILERPLATE-ONLY]
/config/htmlpurifier/
/config/license*
/config/project/
# [/BOILERPLATE-ONLY]
