/.env
/.idea
/vendor
.DS_Store
node_modules

Thumbs.db
loconfig.*.json
!loconfig.example.json
.prettierrc
/web/uploads/*
/web/dist/
/web/sprite.svg
vite.config.local.ts

# Unsure about those
config/htmlpurifier
config/project/*
config/license*