<footer class="container mt-fluid-lg flex justify-between py-fluid-xs">
    <div>
        &copy; {{ "now"|date("Y") }}
    </div>

    <nav class="flex gap-gutter">
        <a href="/">Index</a>
        <a href="/design-system">Design system</a>
    </nav>
</footer>
