<footer class="py-fluid-xs container flex justify-between mt-fluid-lg">
    <div>
        &copy; {{ 'now' | date('Y') }}
    </div>

    <nav class="gap-gutter flex">
        <a href="/">Index</a>
        <a href="/design-system">Design system</a>
    </nav>
</footer>