<header>
    <c-header class="container mb-fluid-lg grid grid-cols-2 py-fluid-md">
        <a href="/" class="flex items-center gap-gutter justify-self-start hocus:opacity-80">
            <div class="sr-only">
                Home
            </div>
            {% include "snippet/icon" with { icon: "logo" } %}
            {% include "snippet/icon" with { icon: "craft", classes: "text-[#e5422b]" } %}
        </a>

        <nav class="flex gap-gutter justify-self-end">
            <a href="/">Index</a>
            <a href="/design-system">Design system</a>
        </nav>
    </c-header>
</header>
