<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
        />
        <meta name="referrer" content="origin-when-cross-origin" />

        {{ craft.vite.script("src/scripts/main.ts", false) }}

        {% if craft.vite.devServerRunning() %}
            {{ craft.vite.script("@vite/client", false) }}
        {% endif %}

        {% block appendHead %}

        {% endblock %}
    </head>
    <body>
        {% include "partial/header" %}

        <div id="swup" class="transition-default">
            {% block beforeMain %}

            {% endblock %}

            <main>
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </main>

            {% include "partial/footer" %}
        </div>
    </body>
</html>
