name: craft-boilerplate
type: craftcms
docroot: web
php_version: '8.3'
webserver_type: nginx-fpm
xdebug_enabled: false
additional_hostnames: []
additional_fqdns: []
database:
    type: mysql
    version: '8.0'
use_dns_when_possible: true
composer_version: '2'
web_environment: []
corepack_enable: false
nodejs_version: '20' # Vite 5 expects Node 18+
web_extra_exposed_ports:
    - name: vite
      container_port: 3000
      http_port: 3000
      https_port: 3001
web_extra_daemons:
    # Run Vite in a separate process
    - name: 'vite'
      command: 'npm install && npm run dev'
      directory: /var/www/html
hooks:
    post-start:
        - composer: install # Keeps installed packages up to date
        - exec: ./craft up # Apply migrations & project config changes
